// You custom settings file to override Foundation defaults
@import "settings";
@import "compass";
// Comment out this import if you are customizing you imports below
@import "foundation";

.to-do-items {
  .row {
    border-bottom: 1px solid #e9e9e9;
  }
  .row:first-child {
    border-top: 1px solid #e9e9e9;
  }
}
.to-do-task {
  .title, .edit {
    margin-top: 5px;
  }
}

// .row.display .column, .row.display .columns, .block-grid.display li { background: #e7e7e7; border: 1px solid #ddd; font-size: 11px; text-indent: 3px; padding-top: 6px; padding-bottom: 6px; }