<form action="">
  <input type="text" placeholder="{{title}}" class='inline'/>
  <button class="button small right inline">Save</button>
  <button class="button small right inline">Cancel</button>
</form>