<div class="eight columns to-do-task">
  {{title}}
</div>
<div class="two columns">
  <a href="#" class="edit">Edit</a>
</div>
<div class="two columns">
  <a href="#" class="delete alert button small">Delete</a>
</div>